:root{
    --dark:#16191c;
    --dark-x: #1e2126;
    --light:#ffffff;
}
body{
    font-family: 'League Spartan', sans-serif;
    font-weight: 300;
    color: var(--light);
}
.bg-dark{
    background-color: var(--dark) !important;
}
.bg-dark{
    background-color: var(--dark);
}
.bg-dark-x{
    background-color: var(--dark-x);
}
.form-control, .btn{
   border-radius: 10px;
   margin: 10px;
   padding: 13px 20px;
    
}
.img-1{
    background-image: url(imagenes/fondo6.jpg);
    background-size: cover;
    background-position: center;
}
.img-2{
    background-image: url(imagenes/fondo7.jpg);
    background-size: cover;
    background-position: center;
}
.logo{
    height: 150px;
}
.input{
    color:white;
}
#titulo{
    align-items: center;
    align-content: center;
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
    
}
#titulo h1{
    width: 100%;
    text-align: center;
}
.email_error,
.password_error{
    margin-top: 5px;
    width: 100%;
    font-size: 18px;
    color: rgb(187, 39, 39);
    display: none;
    
}
#login{
    display: none;
}
#cambiarC{
    cursor: pointer;
    font-size: 18px;
}
#crearC{
    cursor: pointer;
}
